.App{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.heading{
    font-weight: bolder;
}
.input{
    height: 2rem;
    width: 30vw;
    border-radius: 8px;
    border-color: black;
}
.button{
    height: 2rem;
    width: 6rem;
    border-radius: 8px;
    margin-left: 1rem;
    background-color: rgb(197, 189, 181);
}
li{
    width: 4rem;
    background-color: azure;
    list-style: none;
}
.complete .btn{
    display: none;
}
@media screen and (max-width:500px){
    .button{
        width: 5rem;
        height: 2rem;
        
    }
    h3{
        font-weight: 600;
    }
}

